* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.container-header {
  width: 1200px;
  margin: 0 auto;
}
.d-flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a,
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #292929;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header .container-header {
  height: 115px;
}
.header-left-nav a {
  margin: 0 16px;
}
.header-left-nav > img {
  margin-right: 50px;
}
.header_right-nav a {
  padding: 0 13px;
}
.analog {
  height: 600px;
  background-image: url(./img/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.analog > div {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.analog p,
.analog a {
  color: #fff;
}
.analog a,
.stock .stock-one a,
.our .container > div a {
  display: flex;
  flex-direction: column;
  width: 92px;
  margin-bottom: 8px;
  margin-top: 2px;
}
.analog span {
  border-top: 1px solid #fff;
}
.catalog_btns {
  margin-top: 44px;
}
.catalog_btns button {
  cursor: pointer;
  background-color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #b3b3b3;
  margin: 0 24px;
  border: none;
}
.catalog_btns button:hover {
  color: black;
  font-weight: 430;
  border-bottom: 1px solid black;
}
.catalog > div {
  flex-direction: column;
}
.catalog-cards {
  margin: 55px 0 65px;
  flex-wrap: wrap;
}
.catalog-cards > div p {
  margin: 11px 0 6px;
}
.catalog-cards > div {
  padding-bottom: 30px;
}
.catalog > div > a {
  height: 56px;
  color: #fff;
  margin: 66px 0 172px;
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 0px;
  width: 302px;
  justify-content: center;
}
.stock > .container {
  background: #f7f7f7;
}
.stock,
.gather,
.input {
  background: #ced3ca;
  padding: 127px 0;
}
.stock-one h2,
.gather > .container h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #1a1a1a;
  width: 208px;
  margin-bottom: 32px;
}
.stock-one {
  margin-left: 100px;
}
.stock-one span,
.our .container > div span,
.gather > .container span {
  border-top: 1px solid #1a1a1a;
}
.our > .container > .shop {
  display: flex;
  justify-content: space-between;
}
.our > .container > p {
  display: flex;
  justify-content: center;
  margin: 113px 0 93px;
  width: 630px;
  font-size: 30px;
  line-height: 36px;
  color: #1a1a1a;
}
.our > .container > .shop_two {
  width: 100%;
  margin: 48px 0 93px;
}
.our > .container > .shop_two>img{
  width: 100%;
}

.gather > .container p {
  width: 209px;
  margin-bottom: 32px;
}
.gather > .container > div {
  padding-left: 100px;
  height: 406px;
  width: 461px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.design {
  background-image: url(./img/bacround-img.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.design a {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.design h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 54px;
  width: 782px;
  text-align: center;
  color: #ffffff;
}
.design span {
  border-top: 1px solid #fff;
  width: 70px;
}
.design > div {
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.input > div {
  flex-direction: column;
}
.input > div p {
  margin: 19px 0 56px;
  width: 373px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1a1a;
}
.input > div >div input{
  border: 1px solid #242424;;
}
.input > div >div input:first-child{
  padding-left: 18px ;
  width: 338px;
  height: 48px;
}
.input > div >div input:last-child{
  width: 66px;
  height: 48px;
}
.footer>.container{
  display: flex;
  justify-content: space-between;
}
.footer>.container>.help>div a{
  margin: 14px;
  font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #1A1A1A;

}
.footer>.container{
  padding: 84px 0;
}
.footer>.container>.help>div{
  display: flex;
  flex-direction: column;
}
.footer>.container>.help{
  display: flex;
  align-items: center;
}
.footer>.container>.ugmock >div:first-child{
  display: flex;
}
.footer>.container>.ugmock >div:first-child>div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ugmock > div > img{
  margin-left: 24px;
}
.as p{
  margin-top: 15px;
}
.ugmock > .insta{
  display: flex;
  justify-content: flex-end;
  margin-top: 38px;
}


